.container {
    flex-basis: 700px;
    margin: 0 auto;
    padding: 0 20px;
    box-shadow: 4px 4px 30px #4e39aa;
    border-radius: 10px;
    background: #ffffff;
}
.container__title {
    color: #4e30f8;
    text-align: center;
    padding-top: 15px;
}