html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    font-family: "Lato", sans-serif;
    display: flex;
    align-items: center;
    background-color: #f3eaff;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
    color: #1d1d1d; 
}
